<div class="header">
    <div class="logo">
        <h1 class="master-text">Master
            <span class="task-text">Task</span>
        </h1>
    </div>
    <nav>
        <a href="/home">Home</a>
        <a href="/todo">To Do List</a>
        <a href="/diary">My Diary</a>
        <a href="/message">My Messages</a>
        <a href="/logs">My Logs</a>
        <button class="logout-button" id="logout-button">Logout</button>
    </nav>
</div>

<script src="js/logout.js" charset="utf-8"></script>