<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diary Page</title>
    <link rel="stylesheet" href="css/diary.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Marck+Script&family=Sofia+Sans&family=Stint+Ultra+Expanded&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/841b46b139.js" crossorigin="anonymous"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</head>

<body>
    <div class="home-wrapper">
        <%- include('partials/_nav.ejs') %>

        <% if(!diaryWritten) { %>
    
        <div class="diary">
            <div class="mood">
                <label for="Ask" class="ask-diary">Mood Meter</label>
                <div class="slider">
                    <input type="range" class="mood-range" id="mood-range" min="1" max="101" step="25" value="0">
                    <div class="slider-emo">
                        <i class="fa-regular fa-face-tired"></i>
                        <i class="fa-regular fa-face-frown"></i>
                        <i class="fa-regular fa-face-meh"></i>
                        <i class="fa-regular fa-face-smile"></i>
                        <i class="fa-regular fa-face-laugh-beam"></i>
                    </div>
                </div>
            </div>
    
            <div class="entry">
                <label for="Ask" class="ask-diary">Diary</label>
                <textarea class="enter-diary" id="enter-diary" placeholder="How are you feeling today?"></textarea>
            </div>
    
            <div class="end">
                <button class="submit-button" type="submit">Submit</button>
            </div>
        </div>

        <% } %>
    
        <div class="title-wrapper">
            <h1 class="old-diary">Your Diaries</h1>
        </div>
        <div class="old">
        </div>
    </div>

    <script src="js/diary.js"></script>
</body>

</html>