<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <title>Welcome Page</title>
    <link rel="stylesheet" href="css/welcome.css" />
    <link rel="stylesheet" href="css/nav.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Marck+Script&family=Sofia+Sans&family=Stint+Ultra+Expanded&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-... (integrity hash)" crossorigin="anonymous" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
    <div class="wrapper">
        <div class="left">
            <div class="welcome">
                <h1 class="welcome-text">Welcome</h1>
                <h1 class="user-text"><%= username %>!</h1>
            </div>
        </div>
        <div class="right">

            <div class="right-wrapper">
                <h1 class="welcome-title">What do you want to do?</h1>
                <div class="options">
                    <a href="/todo"><button class = "welcome-buttons" id ="todolistbutton">Check To Do List</button></a>
                    <a href="/diary"><button class = "welcome-buttons" id ="diarybutton">Write Diary</button></a>
                    <a href="/message"><button class = "welcome-buttons" id ="messagebutton">Send a Message</button></a>
                    <a href="/logs"><button class = "welcome-buttons" id ="mylogsbutton">My Logs</button></a>
                </div>
            </div>

        </div>
    </div>
</body>

</html>