<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do Site</title>

    <link rel="stylesheet" href="css/loginsignup.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://kit.fontawesome.com/841b46b139.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="login-wrapper">
        <h2 class="login-title">Login</h2>
        <form class="login-box" action="/login" method="POST">
            <div class="input-wrapper">
                <label class="input-label" for="username">Username</label>
                <input class="input-box" type="text" id="username" name="username" autocomplete="off" required>
            </div>
            <div class="input-wrapper">
                <label class="input-label" for="password">Password</label>
                <div class="password-wrapper">
                    <input class="input-box" type="password" id="password" name="password" autocomplete="off" required>
                    <div class="icon-wrapper" id="password-toggle">
                        <i class="fa-regular fa-eye-slash" id="password-icon"></i>
                    </div>
                    <span class="password-match opacity-zero">The password does not match!</span>
                </div>
            </div>
            <button class="submit-button" type="submit">Submit</button>
        </form>
        <a class="dont-have" href="/signup">Don't have an account? Click here to sign up instead!</a>
    </div>

    <script src="js/login.js" charset="utf-8"></script>
</body>
</html>