<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do Site</title>
    <link rel="stylesheet" href="css/loginsignup.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
    <div class="login-wrapper">
        <h2 class="login-title">Login</h2>
        <form class="login-box" action="/login" method="POST">
            <div class="input-wrapper">
                <label class="input-label" for="username">Username</label>
                <input class="input-box" type="text" id="username" name="username">
            </div>
            <div class="input-wrapper">
                <label class="input-label" for="password">Password</label>
                <input class="input-box" type="text" id="password" name="password">
            </div>
            <button class="submit-button" type="submit">Submit</button>
        </form>
    </div>
</body>
</html>