<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send a Message Page</title>
    <link rel="stylesheet" href="css/logs.css">
    <link rel="stylesheet" href="css/nav.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Marck+Script&family=Sofia+Sans&family=Stint+Ultra+Expanded&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/841b46b139.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
    <div class="home-wrapper">
        <%- include('partials/_nav.ejs') %>

            <div class="msg">
                <div class="wrapper">
                    <div class="dater">
                        <label for="date" class="ask-date">Select Date</label>
                        <input type="date" class="set-date" id="date" name="date">
                    </div>

                    <div class="end">
                        <button class="submit-button" type="submit">Submit</button>
                    </div>
                </div>

                <div class="part-2">
                    <h2 class="question" id="second">Your To Do list!</h2>
                    <div class="each-entry" id="todos">
                    </div>

                    <h2 class="question" id="second">Your Diary Entry!</h2>
                    <div class="each-entry" id="diary">
                    </div>

                    <h2 class="question" id="second">Your Messages!</h2>
                    <div class="each-entry" id="messages">
                    </div>
                </div>
            </div>
    </div>

    <script src="js/logs.js" charset="utf-8"></script>
</body>

</html>