<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send a Message Page</title>
    <link rel="stylesheet" href="css/send.css">
    <link rel="stylesheet" href="css/nav.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Marck+Script&family=Sofia+Sans&family=Stint+Ultra+Expanded&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/841b46b139.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
    <div class="home-wrapper">
        <%- include('partials/_nav.ejs') %>

        <form class="msg" method="POST" action="/createMessage">
            <div class="dater">
                <label for="date" class="ask-date">Select Date</label>
                <input type="date" class="set-date" name="date" id="date">
            </div>

            <div class="entry">
                <label for="Ask" class="ask-date">Write a message</label>
                <textarea class="enter-msg" id="enter-msg" name="message" placeholder="What do you want to say to your future self?"></textarea>
            </div>

            <div class="end">
                <button class="submit-button" type="submit">Submit</button>
            </div>
        </form>
    </div>

    <script>
        var tomorrow = new Date();
        tomorrow.setDate(tomorrow.getDate() + 1);
        var tomorrowISOString = tomorrow.toISOString().split('T')[0];
        document.getElementById("date").setAttribute('min', tomorrowISOString);
    </script>
</body>

</html>