<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send a Message Page</title>
    <link rel="stylesheet" href="css/send.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Marck+Script&family=Sofia+Sans&family=Stint+Ultra+Expanded&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/841b46b139.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="home-wrapper">
        <%- include('partials/_nav.ejs') %>

        <div class="msg">
            <div class="dater">
                <label for="Ask" class="ask-date">Select Date</label>
                <input type="date" class="set-date">
            </div>

            <div class="entry">
                <label for="Ask" class="ask-date">Write a message</label>
                <textarea class="enter-msg" id="enter-msg"
                    placeholder="What do you want to say to your future self?"></textarea>
            </div>

            <div class="end">
                <button class="submit-button" type="submit">Submit</button>
            </div>
        </div>
    </div>

</body>

</html>