<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <title>Sign Up Page</title>
    <link rel="stylesheet" href="css/loginsignup.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Marck+Script&family=Sofia+Sans&family=Stint+Ultra+Expanded&display=swap" rel="stylesheet">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://kit.fontawesome.com/841b46b139.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="wrapper">
        <div class="left">
            <h1 class="master-text">Master
                <span class="task-text">Task</span>
            </h1>
        </div>
        <div class="right">
            <form action="/signup" method="POST" class="form-container">
                <h1 class="form-title">Sign Up</h1>

                <div class="form-inputs-wrapper">
                    <label class="label-text" for="username">Username</label>
                    <input class="input-box" type="text" name="username" id="username" placeholder="Enter Username" autocomplete="off">

                    <label class="label-text" for="password">Password</label>
                    <div class="input-wrapper">
                        <input class="input-box" type="password" name="password" id="password" placeholder="Enter Password" autocomplete="off">
                        <div class="password-toggle" id="password-toggle">
                            <i class="fa-regular fa-eye-slash icons" id="password-icon"></i>
                        </div>
                    </div>

                    <label class="label-text" for="repassword">Confirm Password</label>
                    <div class="input-wrapper" id="repassword-wrapper">
                        <input class="input-box" type="password" name="repassword" id="repassword" placeholder="Re-Enter Password" autocomplete="off">
                        <div class="password-toggle" id="repassword-toggle">
                            <i class="fa-regular fa-eye-slash icons" id="repassword-icon"></i>
                        </div>
                    </div>
                    
                    <span class="password-match opacity-zero">The password does not match!</span>
                </div>

                <div class="end">
                    <button class="submit-button" type="submit">Sign Up</button>
                    <a class="new-user-sign" href="/login">Already have an account? Click here to login!</a>
                </div>
            </form>
        </div>
    </div>

    <script src="js/signup.js" charset="utf-8"></script>
</body>

</html>