<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <title>Account Created!</title>
    <link rel="stylesheet" href="css/result.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Marck+Script&family=Sofia+Sans&family=Stint+Ultra+Expanded&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
    <div class="wrapper">
        <div class="left">
            <h1 class="master-text">Master
                <span class="task-text">Task</span>
            </h1>
        </div>
        <div class="right">
            <div class="result-container">
                <h1 class="form-title">Account Successfully Created!</h1>
                <a class="new-user-sign" href="/login">Click here to login to your account</a>
            </div>
        </div>
    </div>
</body>

</html>