<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do Page</title>
    <link rel="stylesheet" href="css/todo.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Marck+Script&family=Sofia+Sans&family=Stint+Ultra+Expanded&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha384-GLhlTQ8i04FZRIq3zZGtzYzcEJ4PJO5HdHH5N9BRvuP1aFqLTlnn5J9tT5D9Exg" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/841b46b139.js" crossorigin="anonymous"></script>
    <script src="js/todo.js"></script>
</head>

<body>
    <header class="begin">
        <%- include('partials/_nav.ejs') %>
    </header>

    <div class="home-wrapper">
        <div class="mid-wrapper">
            <h2 class="question">What do you want to do today?</h2>
            <div class="top">
                <i class="fa-solid fa-circle-plus"></i>
                <input type="text" class="todo-in" placeholder="Tell Me!">
            </div>
            <div class="bottom">
                <h2 class="question" id="second">Your list for today!</h2>
                <div class="checker">
                    
                </div>
            </div>
        </div>
    </div>
</body>

</html>