body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.home-wrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.logo {
    display: flex;
    position: relative;
}

.header {
    display: flex;
    position: relative;
    width: 100vw;
    background: linear-gradient(300deg, #943eca, rgba(128, 55, 173, 0));
    height: 10vh;
    justify-content: space-between;
}

.master-text {
    font-size: 37.5px;
    position: relative;
    height: fit-content;
    font-family: "Stint Ultra Expanded", serif;
    color: #974dc5;
    margin-left: 2rem;
}

.task-text {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 25px;
    transform: translate(-50%, -60%);
    font-family: "Marck Script", cursive;
    color: black;
}

nav {
    justify-content: flex-end;
    position: relative;
    display: flex;
    column-gap: 2rem;
    padding: 10px;
    padding-right: 30px;
}

nav a {
    font-family: "Sofia Sans", sans-serif;
    font-size: 1.15rem;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
}

nav a:hover {
    text-shadow: 0 0 10px #ffff, 0 0 20px #ffff, 0 0 30px #ffff;
}

.diary {
    padding: 4rem 0;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    position: relative;
}

.ask-diary {
    font-family: "Sofia Sans", sans-serif;
    font-size: 25px;
    color: #974dc5;
    text-align: center;
}

.entry{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    position: relative;
}
.mood {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    position: relative;
    width: 25vw;
}

.slider {
    display: flex;
    width: 300px;
    position: relative;
    row-gap: 10px;
    flex-direction: column;
}

.slider-emo {
    display: flex;
    width: 25vw;
    flex-direction: row;
    column-gap: 50px;
    position: relative;
    justify-content: space-between;
}

.mood-range {
    width: 25vw;
}

.fa-face-tired {
    color: #974dc5;
    font-size: 1.5rem;
}

.fa-face-frown {
    color: #974dc5;
    font-size: 1.5rem;
}

.fa-face-meh {
    color: #974dc5;
    font-size: 1.5rem;
}

.fa-face-smile {
    color: #974dc5;
    font-size: 1.5rem;
}

.fa-face-laugh-beam {
    color: #974dc5;
    font-size: 1.5rem;
}

.enter-diary {
    padding: 20px;
    font-family: "Sofia Sans", sans-serif;
    font-size: 18px;
    width: 45vw;
    height: 45vh;
    border-color: #974dc5;
    resize: none;
    border-radius: 12px;
}

.submit-button{
    position: relative;
    display: inline-block;
    font-weight: 800;
    color: white;
    text-align: center;
    cursor: pointer;
    background-color: #974dc5;
    border-radius: 10px;
    width: 150px;
    height: 40px;
    border: none;
}

.submit-button:hover {
    cursor: pointer;
    color: white;
    background-color: #b261e3;
    box-shadow: 0 0 10px #ffff, 0 0 20px #ffff, 0 0 30px #ffff;
}

.old{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 2rem;
    row-gap: 20px; 
    background: linear-gradient(150deg, #943eca, rgba(128, 55, 173, 0));
    min-height: 100vh;
    width: 100vw;
}


.title-wrapper {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.old-diary{
    width: fit-content;
    background: -webkit-linear-gradient(150deg, #d090f8, rgb(153, 79, 199));
    font-family: "Sofia Sans", sans-serif;
    font-size: 3rem;
    margin: 1rem;
    text-align: center;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.each-entry{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    background-color: white;
    width: 90vw;
    height: 20vh;
    border-radius: 10px;
    padding: 15px;
    font-family: "Sofia Sans", sans-serif;
    transition: 200ms;
}

.each-entry:hover{
    cursor: pointer;
    background-color: white;
    border-color: #b261e3;
    box-shadow: 0 0 20px #ffff, 0 0 20px #974dc5, 0 0 20px #ffff;
}

.diary-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dater{
    font-size: 20px;
    color: #974dc5;
}

p{
    margin: 0;
    padding: 0;
}
