body {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
}

.left {
    height: 100vh;
    width: 40vw;
    display: flex;
    justify-content: center;
}

.master-text {
    margin-top: 25vh;
    font-size: 75px;
    position: relative;
    height: fit-content;
    font-family: "Stint Ultra Expanded", serif;
    color: #974dc5;
}

.task-text {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 50px;
    transform: translate(-50%, -60%);
    font-family: "Marck Script", cursive;
    color: black;
}

.right {
    font-family: "Sofia Sans", sans-serif;
    height: 100vh;
    width: 60vw;
    padding-left: 5vw;
    display: flex;
    align-items: center;
    background: linear-gradient(180deg, #974dc5, rgba(151, 77, 197, 0));
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 6vh;
}

.form-title {
    margin: 0;
    color: white;
    font-size: 3.5rem;
    width: 100%;
}

.form-inputs-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
}

.input-wrapper {
    position: relative;
    display: flex;
    border-radius: 10px;
}

.input-box {
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 270px;
    height: 50px;
    padding: 0;
    padding-left: 20px;
}

.input-box:focus {
    outline: none;
}

#username {
    border-radius: 10px;
    width: 300px;
}

.username-wrapper {
    position: relative;
}

#username-match {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(105%, -50%);
}

.password-toggle {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: white;
    width: 30px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.password-toggle:hover {
    cursor: pointer;
}

.icons {
    color: #974dc5 !important;
}

.password-strong {
    width: 300px;
    position: absolute;
    top: 50%;
    left: 105%;
    transform: translate(0%, -50%);
}

.password-wrong {
    outline: 2px red solid;
}

.password-match {
    font-size: 0.8rem;
    color: red;
}

.opacity-zero {
    opacity: 0%;
}

.submit-button {
    position: relative;
    display: inline-block;
    font-weight: 800;
    color: white;
    text-align: center;
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: #9e00ff;
    border-radius: 10px;
    width: 150px;
    height: 40px;
}

.submit-button:hover {
    background-color: #be56ff;
}

.label-text {
    font-size: 20px;
}

::placeholder {
    font-family: "Sofia Sans", sans-serif;
    font-size: 14px;
}

.fa-regular {
    color: black;
}

.new-user-sign {
    text-decoration: none;
    color: black;
}

.new-user-sign:hover {
    text-decoration: underline;
    color: black;
}

.end {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
}
