body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.home-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    overflow-x: hidden;
}

.msg {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    position: relative;
}

.ask-date {
    font-family: "Sofia Sans", sans-serif;
    font-size: 2rem;
    color: #974dc5;
    text-align: center;
    font-weight: 600;
    background: linear-gradient(300deg, #a857da, rgb(218, 166, 251));
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.entry {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    position: relative;
}

.dater {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    position: relative;
    width: 10vw;
}

.slider {
    display: flex;
    width: 300px;
    position: relative;
    row-gap: 10px;
    flex-direction: column;
}

.enter-msg {
    padding: 20px;
    font-family: "Sofia Sans", sans-serif;
    font-size: 18px;
    width: 45vw;
    height: 45vh;
    border-color: #974dc5;
    resize: none;
    border-radius: 12px;
    transition: 200ms;
}

.enter-msg:hover {
    box-shadow: 0 0 5px #b261e3;
}

.enter-msg:focus {
    outline: none;
    box-shadow: 0 0 5px #b261e3;
}

.submit-button {
    position: relative;
    display: inline-block;
    font-weight: 800;
    color: white;
    text-align: center;
    cursor: pointer;
    background-color: #974dc5;
    border-radius: 10px;
    width: 150px;
    height: 40px;
    border: none;
    transition: 200ms;
}

.submit-button:hover {
    cursor: pointer;
    color: white;
    background-color: #b261e3;
    box-shadow: 0 0 10px #ffff, 0 0 20px #ffff, 0 0 30px #ffff;
}

.set-date {
    font-family: "Sofia Sans", sans-serif;
    color: #fff;
    padding: 8px;
    background-color: #974dc5;
    border: 1px solid #974dc5;
    border-radius: 5px;
    box-shadow: 0 0 5px #ffff, 0 0 5px #974dc5, 0 0 5px #974dc5;
    font-size: 16px;
    outline: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.set-date::-webkit-calendar-picker-indicator {
    filter: invert(1);
}


.set-date:hover {
    cursor: pointer;
    background-color: #fff;
    border-color: #71269f;
    color: #71269f;
}

.set-date:hover::-webkit-calendar-picker-indicator {
    filter: invert(0);
}


.todays-messages {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem 0;
    row-gap: 20px; 
    background: linear-gradient(300deg, #943eca, rgb(189, 137, 222));
    width: 100vw;
}


.title-wrapper {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todays-msg-title{
    width: fit-content;
    background: -webkit-linear-gradient(150deg, #d090f8, rgb(153, 79, 199));
    font-family: "Sofia Sans", sans-serif;
    font-size: 3rem;
    margin: 1rem;
    text-align: center;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.each-entry{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    background-color: white;
    width: 90vw;
    border-radius: 10px;
    padding: 15px;
    font-family: "Sofia Sans", sans-serif;
    transition: 200ms;
}

.each-entry:hover{
    cursor: pointer;
    background-color: white;
    border-color: #b261e3;
    box-shadow: 0 0 20px #ffff, 0 0 20px #974dc5, 0 0 20px #ffff;
}

.no-messages {
    font-family: "Sofia Sans", sans-serif;
    font-size: 2rem;
    background: linear-gradient(300deg, #fcf6ff, rgb(240, 215, 255));
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    padding: 4rem 0;
}

.message-title {
    display: flex;
    align-items: center;
}

.msg-subtitle {
    margin: 0;
    font-size: 30px;
    color: #974dc5;
    width: 100%;
}