body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.home-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.logo {
    display: flex;
    position: relative;
}

.header {
    display: flex;
    width: 100vw;
    background: linear-gradient(300deg, #943eca, rgba(128, 55, 173, 0));
    height: 10vh;
    justify-content: space-between;
}

.master-text {
    font-size: 37.5px;
    position: relative;
    height: fit-content;
    font-family: "Stint Ultra Expanded", serif;
    color: #974dc5;
    margin-left: 2rem;
}

.task-text {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 25px;
    transform: translate(-50%, -60%);
    font-family: "Marck Script", cursive;
    color: black;
}

nav {
    justify-content: flex-end;
    position: relative;
    display: flex;
    column-gap: 2rem;
    padding: 10px;
    padding-right: 30px;
}

nav a {
    font-family: "Sofia Sans", sans-serif;
    font-size: 1.15rem;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
}

nav a:hover {
    text-shadow: 0 0 10px #ffff, 0 0 20px #ffff, 0 0 30px #ffff;
}

.mid-wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 30px;
}

.top{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    column-gap: 20px;
}

.bottom{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.question{
    margin-bottom: 0;
    font-family: "Sofia Sans", sans-serif;
    font-size: 3rem;
    color: #974dc5;
    text-align: center;
}

.todo-in{
    box-shadow: none;
    background-color: transparent; 
    border: 2px solid #caa7e1;
    border-radius: 10px;
    width: 25vw;
    height: 2vh;
    font-family: "Sofia Sans", sans-serif;
    font-size: 15px;
    padding: 20px;
    transition: 200ms;
}

.todo-in:hover{
    cursor: pointer;
    border-color: #974dc5;
    box-shadow: 0 0 5px #ffff, 0 0 5px #b261e3, 0 0 5px #b261e3;
}

.todo-in:focus {
    outline: none;
    border-color: #974dc5;
    box-shadow: 0 0 5px #ffff, 0 0 5px #b261e3, 0 0 5px #b261e3;
}

.circle-plus{
    font-size: 2rem;
    color: #caa7e1;
    transition: 200ms;
}

.circle-plus:hover{
    font-size: 2rem;
    color: #974dc5;
    cursor: pointer;
}

#second{
    margin-top: 0;
    font-size: 2rem;
}

.checker{
    text-align: center;
    display: flex;
    row-gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inner{
    width: 97vw;
    background-color: #d6bee7;
    align-items: center;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    font-family: "Sofia Sans", sans-serif;
    font-size: 1rem;
    color: #612a84;
}

.inner:hover{
    cursor: pointer;
    background-color: #974dc5;
    color: #ffff;
}

.check-it{
    width: 1.75rem;
    height: 1.75rem;
}

.cr-wrapper *,
.cr-wrapper *::before,
.cr-wrapper *::after {
	box-sizing: content-box !important;
}

.cr-wrapper input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.cr-wrapper span {
	font-size: 19px;
}

.cr-wrapper {
	display: table;
	position: relative;
	padding-left: 40px;
	cursor: pointer;
	margin-bottom: 18px;
}

.cr-wrapper input[type="checkbox"] ~ .cr-input {
	position: absolute;
	top: 50%;
	left: 0;
	height: 30px;
	width: 30px;
	background: #FFFFFF;
	transition: background 250ms;
	border: 1px solid #FFDFF1;
	border-radius: 5px;
	transform: translate(0, -50%);
}

.cr-wrapper input[type="radio"] ~ .cr-input {
	position: absolute;
	top: 50%;
	left: 0;
	height: 30px;
	width: 30px;
	background: #FFFFFF;
	transition: background 250ms;
	border: 1px solid #FFDFF1;
	border-radius: 20px;
	transform: translate(0, -50%);
}

.cr-wrapper input[type="checkbox"] ~ .cr-input::after {
	content: "";
	position: absolute;
	display: none;
	left: 5px;
	top: 4px;
	width: 21px;
	height: 21px;
	transition: background 250ms;
	background-color: #50EB38;
	clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

.cr-wrapper input[type="radio"] ~ .cr-input::after {
	content: "";
	position: absolute;
	display: none;
	left: 4px;
	top: 4px;
	width: 12px;
	height: 12px;
	border-radius: 20px;
	background: #FFFFFF;
	transition: background 250ms;
}

.cr-wrapper input:checked ~ .cr-input::after {
	display: block;
}

.cr-wrapper:hover input[type="checkbox"]:not([disabled]) ~ .cr-input,
.cr-wrapper input[type="checkbox"]:focus ~ .cr-input {
	background: #FFFFFF;
	border-color: #FFDAF4;
}

.cr-wrapper:hover input[type="radio"]:not([disabled]) ~ .cr-input,
.cr-wrapper input[type="radio"]:focus ~ .cr-input {
	background: #FFFFFF;
	border-color: #FFDAF4;
}

.cr-wrapper input[type="checkbox"]:checked ~ .cr-input {
	background: #FFFFFF;
	border-color: #FDC6FF;
}

.cr-wrapper input[type="radio"]:checked ~ .cr-input {
	background: #FFFFFF;
	border-color: #FDC6FF;
}

.cr-wrapper input[type="checkbox"]:disabled ~ .cr-input,
.cr-wrapper input[type="radio"]:disabled ~ .cr-input {
	opacity: 0.5;
	cursor: not-allowed;
}

.cr-wrapper input[type="checkbox"]:disabled ~ span,
.cr-wrapper input[type="radio"]:disabled ~ span {
	opacity: 0.5;
	cursor: not-allowed;
}

.cr-wrapper input[type="checkbox"]:disabled ~ .cr-input::after {
	background: #50EB38;
}

.cr-wrapper input[type="radio"]:disabled ~ .cr-input::after {
	background: #FFFFFF;
}

.cr-wrapper:hover input[type="checkbox"]:not([disabled]):checked ~ .cr-input,
.cr-wrapper input[type="checkbox"]:checked:focus ~ .cr-input {
	background: #FFFFFF;
	border-color: #FDC6FF;
}

.cr-wrapper:hover input[type="radio"]:not([disabled]):checked ~ .cr-input,
.cr-wrapper input[type="radio"]:checked:focus ~ .cr-input {
	background: #FFFFFF;
	border-color: #FDC6FF;
}

.item-wrapper {
    font-family: "Sofia Sans", sans-serif;
    color: white;
    background: linear-gradient(300deg, #a857da, rgb(218, 166, 251));
    padding: 15px;
    padding-top: 15px;
    padding-bottom: 0px;
    width: 90%;
    border-radius: 10px;
    display: flex;
    justify-content: space-between  ;
}

.remove-item {
    color: rgb(255, 135, 135);
    font-size: 1.5rem;
    box-sizing: border-box;
    padding-top: 3px;
    width: 2rem;
    height: 2rem;
    border-radius: 5px;
    background-color: white;
    transition: 200ms;
    transform: translateY(-10%);
}

.remove-item:hover {
    cursor: pointer;
    color: white !important; 
    background-color: rgb(255, 135, 135);
}