body {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
}

.left {
    height: 100vh;
    width: 40vw;
    display: flex;
    justify-content: center;
}

.user-text {
    margin: 0;
    font-size: 75px;
    position: relative;
    height: fit-content;
    font-family: "Sofia Sans", sans-serif;
    color: #974dc5;
}

.welcome-text {
    margin: 0;
    position: relative;
    font-size: 50px;
    font-family: "Sofia Sans", sans-serif;
    color: black;
}

.right {
    font-family: "Sofia Sans", sans-serif;
    height: 100vh;
    width: 60vw;
    padding-left: 5vw;
    display: flex;
    align-items: center;
    background: linear-gradient(180deg, #974dc5, rgba(151, 77, 197, 0));
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 6vh;
}

.welcome-title {
    margin: 0;
    color: white;
    font-size: 2.5rem;
    width: 100%;
    height: fit-content;
    display: inline-block;
}

.form-inputs-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
}

.input-wrapper {
    display: flex;
}

.input-box {
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 270px;
    height: 50px;
    padding: 0;
    padding-left: 20px;
}

.input-box:focus {
    outline: none;
}

#username {
    border-radius: 10px;
    width: 300px;
}

.password-toggle {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: white;
    width: 30px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.label-text {
    font-size: 20px;
}

::placeholder {
    font-family: "Sofia Sans", sans-serif;
    font-size: 14px;
}

.fa-regular {
    color: black;
}

.new-user-sign {
    text-decoration: none;
    color: black;
}

.end {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
}

.welcome {
    display: flex;
    flex-direction: column;
    row-gap: 0vh;
    justify-content: center;
}

.options {
    display: flex;
    flex-direction: column;
    row-gap: 6vh;
    justify-content: center;
}

.right-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 6vh;
    justify-content: center;
}

.welcome-buttons {
    text-align: justify;
    font-family: "Sofia Sans", sans-serif;
    font-size: 14px;
    border: none;
    border-radius: 10px;
    width: 270px;
    height: 50px;
    padding: 0;
    padding-left: 20px;
    background-color: white;
    text-decoration: none;
    transition: 200ms;
}

.welcome-buttons:hover {
    cursor: pointer;
    background-color: #b261e3;
    box-shadow:
        0 0 10px #ffff,
        0 0 20px #b261e3,
        0 0 30px #b261e3;
    color: white;
}
